@media screen and (max-width: 320px) {
  /* line 5, ../scss/mobileSM.scss */
  * {
    margin: 0;
    padding: 0;
    border: none;
  }

  /* line 10, ../scss/mobileSM.scss */
  body {
    display: grid;
    grid-template-areas: ". . ." ". main ." ". bottom .";
    grid-template-columns: 20px 280px 20px;
    grid-template-rows: 20px 450px 30px;
  }

  /* line 19, ../scss/mobileSM.scss */
  .calc_body {
    grid-gap: 10px;
    grid-area: main;
    display: grid;
    grid-template-areas: ". . ." ". head ." ". output ." ". buttons ." ". . .";
    grid-template-columns: 10px 260px 10px;
    grid-template-rows: 10px 50px 50px 280px 10px;
  }

  /* line 32, ../scss/mobileSM.scss */
  .calc_header {
    grid-area: head;
    display: grid;
    grid-template-areas: "logo . . first second third" "logo . theme slider slider slider";
    grid-template-columns: 60px 50px 60px 20px 20px 20px;
    grid-template-rows: 20px 30px;
  }
  /* line 40, ../scss/mobileSM.scss */
  .calc_header .title {
    grid-area: logo;
    font-size: 25px;
    padding: 10px 0 0 0;
  }
  /* line 45, ../scss/mobileSM.scss */
  .calc_header .first_theme {
    grid-area: first;
    margin: 0 5px 0 0;
    text-align: center;
  }
  /* line 50, ../scss/mobileSM.scss */
  .calc_header .second_theme {
    grid-area: second;
    margin: 0 5px 0 0;
    text-align: center;
  }
  /* line 55, ../scss/mobileSM.scss */
  .calc_header .third_theme {
    grid-area: third;
    text-align: center;
  }
  /* line 59, ../scss/mobileSM.scss */
  .calc_header .slider {
    grid-area: slider;
  }
  /* line 62, ../scss/mobileSM.scss */
  .calc_header .theme_selector {
    grid-area: theme;
    font-size: 14px;
    padding: 13px 0 0 0;
  }

  /* line 68, ../scss/mobileSM.scss */
  .slider input {
    width: 60px;
    height: 40px;
  }

  /* line 72, ../scss/mobileSM.scss */
  .number_output {
    grid-area: output;
  }
  /* line 74, ../scss/mobileSM.scss */
  .number_output .output_bar {
    text-align: right;
    padding: 5px 10px 0 0;
    font-size: 25px;
    width: 90%;
    height: 70%;
    margin: 10px;
  }

  /* line 83, ../scss/mobileSM.scss */
  .buttons {
    grid-area: buttons;
    display: grid;
    grid-template-areas: "seven eight nine del" "four five six plus" "one two three minus" "dot zero slash times" " reset reset equal equal";
    grid-template-columns: 56px 56px 56px 56px;
    grid-template-rows: 55px 55px 55px 55px 55px;
    grid-gap: 5px;
  }
  /* line 95, ../scss/mobileSM.scss */
  .buttons .number_nine {
    grid-area: nine;
    margin: 5px;
  }
  /* line 99, ../scss/mobileSM.scss */
  .buttons .number_eight {
    grid-area: eight;
    margin: 5px;
  }
  /* line 103, ../scss/mobileSM.scss */
  .buttons .number_seven {
    grid-area: seven;
    margin: 5px;
  }
  /* line 107, ../scss/mobileSM.scss */
  .buttons .number_six {
    grid-area: six;
    margin: 5px;
  }
  /* line 111, ../scss/mobileSM.scss */
  .buttons .number_five {
    grid-area: five;
    margin: 5px;
  }
  /* line 115, ../scss/mobileSM.scss */
  .buttons .number_four {
    grid-area: four;
    margin: 5px;
  }
  /* line 119, ../scss/mobileSM.scss */
  .buttons .number_three {
    grid-area: three;
    margin: 5px;
  }
  /* line 123, ../scss/mobileSM.scss */
  .buttons .number_two {
    grid-area: two;
    margin: 5px;
  }
  /* line 127, ../scss/mobileSM.scss */
  .buttons .number_one {
    grid-area: one;
    margin: 5px;
  }
  /* line 131, ../scss/mobileSM.scss */
  .buttons .number_dot {
    grid-area: dot;
    margin: 5px;
  }
  /* line 135, ../scss/mobileSM.scss */
  .buttons .number_delete {
    grid-area: del;
    margin: 5px;
  }
  /* line 139, ../scss/mobileSM.scss */
  .buttons .number_plus {
    grid-area: plus;
    margin: 5px;
  }
  /* line 143, ../scss/mobileSM.scss */
  .buttons .number_times {
    grid-area: times;
    margin: 5px;
  }
  /* line 147, ../scss/mobileSM.scss */
  .buttons .number_minus {
    grid-area: minus;
    margin: 5px;
  }
  /* line 151, ../scss/mobileSM.scss */
  .buttons .number_reset {
    grid-area: reset;
    margin: 5px;
  }
  /* line 155, ../scss/mobileSM.scss */
  .buttons .number_equal {
    grid-area: equal;
    margin: 5px;
  }
  /* line 159, ../scss/mobileSM.scss */
  .buttons .number_slash {
    grid-area: slash;
    margin: 5px;
  }
  /* line 163, ../scss/mobileSM.scss */
  .buttons .number_zero {
    grid-area: zero;
    margin: 5px;
  }

  /* line 169, ../scss/mobileSM.scss */
  .attribution {
    grid-area: bottom;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* line 5, ../scss/mobileL.scss */
  * {
    margin: 0;
    padding: 0;
    border: none;
  }

  /* line 10, ../scss/mobileL.scss */
  body {
    display: grid;
    grid-template-areas: ". . ." ". main ." ". bottom .";
    grid-template-columns: 20px 440px 20px;
    grid-template-rows: 20px 450px 30px;
  }

  /* line 19, ../scss/mobileL.scss */
  .calc_body {
    grid-gap: 10px;
    grid-area: main;
    display: grid;
    grid-template-areas: " . " " head " " output " " buttons" " . ";
    grid-template-columns: 420px;
    grid-template-rows: 10px 50px 50px 280px 10px;
  }

  /* line 32, ../scss/mobileL.scss */
  .calc_header {
    grid-area: head;
    display: grid;
    grid-template-areas: "logo . . first second third" "logo . theme slider slider slider";
    grid-template-columns: 120px 120px 100px 20px 20px 20px;
    grid-template-rows: 20px 30px;
  }
  /* line 40, ../scss/mobileL.scss */
  .calc_header .title {
    grid-area: logo;
    font-size: 35px;
    padding: 10px 0 0 15px;
  }
  /* line 45, ../scss/mobileL.scss */
  .calc_header .first_theme {
    grid-area: first;
    margin: 0 5px 0 0;
    text-align: center;
  }
  /* line 50, ../scss/mobileL.scss */
  .calc_header .second_theme {
    grid-area: second;
    margin: 0 5px 0 0;
    text-align: center;
  }
  /* line 55, ../scss/mobileL.scss */
  .calc_header .third_theme {
    grid-area: third;
    text-align: center;
  }
  /* line 59, ../scss/mobileL.scss */
  .calc_header .slider {
    grid-area: slider;
  }
  /* line 62, ../scss/mobileL.scss */
  .calc_header .theme_selector {
    grid-area: theme;
    font-size: 18px;
    padding: 10px 0 0 0;
  }

  /* line 68, ../scss/mobileL.scss */
  .slider input {
    width: 60px;
    height: 40px;
  }

  /* line 72, ../scss/mobileL.scss */
  .number_output {
    grid-area: output;
  }
  /* line 74, ../scss/mobileL.scss */
  .number_output .output_bar {
    text-align: right;
    padding: 5px 10px 0 0;
    font-size: 25px;
    width: 90%;
    height: 70%;
    margin: 10px;
  }

  /* line 83, ../scss/mobileL.scss */
  .buttons {
    grid-area: buttons;
    display: grid;
    grid-template-areas: "seven eight nine del" "four five six plus" "one two three minus" "dot zero slash times" " reset reset equal equal";
    grid-template-columns: 105px 105px 105px 80px;
    grid-template-rows: 55px 55px 55px 55px 55px;
    grid-gap: 5px;
  }
  /* line 95, ../scss/mobileL.scss */
  .buttons .number_nine {
    grid-area: nine;
    margin: 5px;
  }
  /* line 99, ../scss/mobileL.scss */
  .buttons .number_eight {
    grid-area: eight;
    margin: 5px;
  }
  /* line 103, ../scss/mobileL.scss */
  .buttons .number_seven {
    grid-area: seven;
    margin: 5px;
  }
  /* line 107, ../scss/mobileL.scss */
  .buttons .number_six {
    grid-area: six;
    margin: 5px;
  }
  /* line 111, ../scss/mobileL.scss */
  .buttons .number_five {
    grid-area: five;
    margin: 5px;
  }
  /* line 115, ../scss/mobileL.scss */
  .buttons .number_four {
    grid-area: four;
    margin: 5px;
  }
  /* line 119, ../scss/mobileL.scss */
  .buttons .number_three {
    grid-area: three;
    margin: 5px;
  }
  /* line 123, ../scss/mobileL.scss */
  .buttons .number_two {
    grid-area: two;
    margin: 5px;
  }
  /* line 127, ../scss/mobileL.scss */
  .buttons .number_one {
    grid-area: one;
    margin: 5px;
  }
  /* line 131, ../scss/mobileL.scss */
  .buttons .number_dot {
    grid-area: dot;
    margin: 5px;
  }
  /* line 135, ../scss/mobileL.scss */
  .buttons .number_delete {
    grid-area: del;
    margin: 5px;
  }
  /* line 139, ../scss/mobileL.scss */
  .buttons .number_plus {
    grid-area: plus;
    margin: 5px;
  }
  /* line 143, ../scss/mobileL.scss */
  .buttons .number_times {
    grid-area: times;
    margin: 5px;
  }
  /* line 147, ../scss/mobileL.scss */
  .buttons .number_minus {
    grid-area: minus;
    margin: 5px;
  }
  /* line 151, ../scss/mobileL.scss */
  .buttons .number_reset {
    grid-area: reset;
    margin: 5px;
  }
  /* line 155, ../scss/mobileL.scss */
  .buttons .number_equal {
    grid-area: equal;
    margin: 5px;
  }
  /* line 159, ../scss/mobileL.scss */
  .buttons .number_slash {
    grid-area: slash;
    margin: 5px;
  }
  /* line 163, ../scss/mobileL.scss */
  .buttons .number_zero {
    grid-area: zero;
    margin: 5px;
  }

  /* line 169, ../scss/mobileL.scss */
  .attribution {
    grid-area: bottom;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  /* line 5, ../scss/tablet.scss */
  * {
    margin: 0;
    padding: 0;
    border: none;
  }

  /* line 10, ../scss/tablet.scss */
  body {
    display: grid;
    grid-template-areas: ". . ." ". main ." ". bottom .";
    grid-template-columns: 200px 400px 200px;
    grid-template-rows: 20px 450px 30px;
  }

  /* line 19, ../scss/tablet.scss */
  .calc_body {
    grid-gap: 10px;
    grid-area: main;
    display: grid;
    grid-template-areas: " . " "head" "output" "buttons" ".";
    grid-template-columns: 400px;
    grid-template-rows: 10px 50px 50px 280px 10px;
  }

  /* line 32, ../scss/tablet.scss */
  .calc_header {
    grid-area: head;
    display: grid;
    grid-template-areas: "logo . . first second third" "logo . theme slider slider slider";
    grid-template-columns: 120px 120px 100px 20px 20px 20px;
    grid-template-rows: 20px 30px;
  }
  /* line 40, ../scss/tablet.scss */
  .calc_header .title {
    grid-area: logo;
    font-size: 35px;
    padding: 10px 0 0 15px;
  }
  /* line 45, ../scss/tablet.scss */
  .calc_header .first_theme {
    grid-area: first;
    margin: 0 5px 0 0;
    text-align: center;
  }
  /* line 50, ../scss/tablet.scss */
  .calc_header .second_theme {
    grid-area: second;
    margin: 0 5px 0 0;
    text-align: center;
  }
  /* line 55, ../scss/tablet.scss */
  .calc_header .third_theme {
    grid-area: third;
    text-align: center;
  }
  /* line 59, ../scss/tablet.scss */
  .calc_header .slider {
    grid-area: slider;
  }
  /* line 62, ../scss/tablet.scss */
  .calc_header .theme_selector {
    grid-area: theme;
    font-size: 18px;
    padding: 10px 0 0 0;
  }

  /* line 68, ../scss/tablet.scss */
  .slider input {
    width: 60px;
    height: 40px;
  }

  /* line 72, ../scss/tablet.scss */
  .number_output {
    grid-area: output;
  }
  /* line 74, ../scss/tablet.scss */
  .number_output .output_bar {
    text-align: right;
    padding: 5px 10px 0 0;
    font-size: 25px;
    width: 90%;
    height: 70%;
    margin: 10px;
  }

  /* line 83, ../scss/tablet.scss */
  .buttons {
    grid-area: buttons;
    display: grid;
    grid-template-areas: "seven eight nine del" "four five six plus" "one two three minus" "dot zero slash times" " reset reset equal equal";
    grid-template-columns: 95px 100px 100px 80px;
    grid-template-rows: 55px 55px 55px 55px 55px;
    grid-gap: 5px;
  }
  /* line 95, ../scss/tablet.scss */
  .buttons .number_nine {
    grid-area: nine;
    margin: 5px;
  }
  /* line 99, ../scss/tablet.scss */
  .buttons .number_eight {
    grid-area: eight;
    margin: 5px;
  }
  /* line 103, ../scss/tablet.scss */
  .buttons .number_seven {
    grid-area: seven;
    margin: 5px;
    margin-left: 15px;
  }
  /* line 108, ../scss/tablet.scss */
  .buttons .number_six {
    grid-area: six;
    margin: 5px;
  }
  /* line 112, ../scss/tablet.scss */
  .buttons .number_five {
    grid-area: five;
    margin: 5px;
  }
  /* line 116, ../scss/tablet.scss */
  .buttons .number_four {
    grid-area: four;
    margin: 5px;
    margin-left: 15px;
  }
  /* line 121, ../scss/tablet.scss */
  .buttons .number_three {
    grid-area: three;
    margin: 5px;
  }
  /* line 125, ../scss/tablet.scss */
  .buttons .number_two {
    grid-area: two;
    margin: 5px;
  }
  /* line 129, ../scss/tablet.scss */
  .buttons .number_one {
    grid-area: one;
    margin: 5px;
    margin-left: 15px;
  }
  /* line 134, ../scss/tablet.scss */
  .buttons .number_dot {
    grid-area: dot;
    margin: 5px;
    margin-left: 15px;
  }
  /* line 139, ../scss/tablet.scss */
  .buttons .number_delete {
    grid-area: del;
    margin: 5px;
  }
  /* line 143, ../scss/tablet.scss */
  .buttons .number_plus {
    grid-area: plus;
    margin: 5px;
  }
  /* line 147, ../scss/tablet.scss */
  .buttons .number_times {
    grid-area: times;
    margin: 5px;
  }
  /* line 151, ../scss/tablet.scss */
  .buttons .number_minus {
    grid-area: minus;
    margin: 5px;
  }
  /* line 155, ../scss/tablet.scss */
  .buttons .number_reset {
    grid-area: reset;
    margin: 5px;
    margin-left: 15px;
  }
  /* line 160, ../scss/tablet.scss */
  .buttons .number_equal {
    grid-area: equal;
    margin: 5px;
  }
  /* line 164, ../scss/tablet.scss */
  .buttons .number_slash {
    grid-area: slash;
    margin: 5px;
  }
  /* line 168, ../scss/tablet.scss */
  .buttons .number_zero {
    grid-area: zero;
    margin: 5px;
  }

  /* line 174, ../scss/tablet.scss */
  .attribution {
    grid-area: bottom;
  }
}
@media screen and (min-width: 1025px) {
  /* line 5, ../scss/laptopSM.scss */
  * {
    margin: 0;
    padding: 0;
    border: none;
  }

  /* line 10, ../scss/laptopSM.scss */
  body {
    display: grid;
    grid-template-areas: ". . ." ". main ." ". bottom .";
    grid-template-columns: 220px 1000px 220px;
    grid-template-rows: 20px 450px 30px;
  }

  /* line 19, ../scss/laptopSM.scss */
  .calc_body {
    grid-gap: 10px;
    grid-area: main;
    display: grid;
    grid-template-areas: ". . ." ". head ." ". output ." ". buttons ." ". . .";
    grid-template-columns: 10px 980px 10px;
    grid-template-rows: 10px 50px 50px 280px 10px;
  }

  /* line 32, ../scss/laptopSM.scss */
  .calc_header {
    grid-area: head;
    display: grid;
    grid-template-areas: "logo . . first second third" "logo . theme slider slider slider";
    grid-template-columns: 120px 400px 100px 123px 123px 123px;
    grid-template-rows: 20px 30px;
  }
  /* line 40, ../scss/laptopSM.scss */
  .calc_header .title {
    grid-area: logo;
    font-size: 35px;
    padding: 10px 0 0 15px;
  }
  /* line 45, ../scss/laptopSM.scss */
  .calc_header .first_theme {
    grid-area: first;
    margin: 0 8px 0 0;
    text-align: center;
  }
  /* line 50, ../scss/laptopSM.scss */
  .calc_header .second_theme {
    grid-area: second;
    margin: 0 8px 0 0;
    text-align: center;
  }
  /* line 55, ../scss/laptopSM.scss */
  .calc_header .third_theme {
    grid-area: third;
    text-align: center;
  }
  /* line 59, ../scss/laptopSM.scss */
  .calc_header .slider {
    grid-area: slider;
  }
  /* line 62, ../scss/laptopSM.scss */
  .calc_header .theme_selector {
    grid-area: theme;
    font-size: 18px;
    padding: 10px 0 0 0;
  }

  /* line 68, ../scss/laptopSM.scss */
  .slider input {
    width: 70%;
    height: 40px;
    margin-left: 53px;
  }

  /* line 73, ../scss/laptopSM.scss */
  .number_output {
    grid-area: output;
  }
  /* line 75, ../scss/laptopSM.scss */
  .number_output .output_bar {
    text-align: right;
    padding: 5px 10px 0 0;
    font-size: 25px;
    width: 90%;
    height: 70%;
    margin: 10px;
  }

  /* line 84, ../scss/laptopSM.scss */
  .buttons {
    grid-area: buttons;
    display: grid;
    grid-template-areas: "seven eight nine del" "four five six plus" "one two three minus" "dot zero slash times" " reset reset equal equal";
    grid-template-columns: 247px 247px 247px 236px;
    grid-template-rows: 55px 55px 55px 55px 55px;
    grid-gap: 5px;
  }
  /* line 96, ../scss/laptopSM.scss */
  .buttons .number_nine {
    grid-area: nine;
    margin: 5px;
  }
  /* line 100, ../scss/laptopSM.scss */
  .buttons .number_eight {
    grid-area: eight;
    margin: 5px;
  }
  /* line 104, ../scss/laptopSM.scss */
  .buttons .number_seven {
    grid-area: seven;
    margin: 5px;
  }
  /* line 108, ../scss/laptopSM.scss */
  .buttons .number_six {
    grid-area: six;
    margin: 5px;
  }
  /* line 112, ../scss/laptopSM.scss */
  .buttons .number_five {
    grid-area: five;
    margin: 5px;
  }
  /* line 116, ../scss/laptopSM.scss */
  .buttons .number_four {
    grid-area: four;
    margin: 5px;
  }
  /* line 120, ../scss/laptopSM.scss */
  .buttons .number_three {
    grid-area: three;
    margin: 5px;
  }
  /* line 124, ../scss/laptopSM.scss */
  .buttons .number_two {
    grid-area: two;
    margin: 5px;
  }
  /* line 128, ../scss/laptopSM.scss */
  .buttons .number_one {
    grid-area: one;
    margin: 5px;
  }
  /* line 132, ../scss/laptopSM.scss */
  .buttons .number_dot {
    grid-area: dot;
    margin: 5px;
  }
  /* line 136, ../scss/laptopSM.scss */
  .buttons .number_delete {
    grid-area: del;
    margin: 5px;
  }
  /* line 140, ../scss/laptopSM.scss */
  .buttons .number_plus {
    grid-area: plus;
    margin: 5px;
  }
  /* line 144, ../scss/laptopSM.scss */
  .buttons .number_times {
    grid-area: times;
    margin: 5px;
  }
  /* line 148, ../scss/laptopSM.scss */
  .buttons .number_minus {
    grid-area: minus;
    margin: 5px;
  }
  /* line 152, ../scss/laptopSM.scss */
  .buttons .number_reset {
    grid-area: reset;
    margin: 5px;
  }
  /* line 156, ../scss/laptopSM.scss */
  .buttons .number_equal {
    grid-area: equal;
    margin: 5px;
  }
  /* line 160, ../scss/laptopSM.scss */
  .buttons .number_slash {
    grid-area: slash;
    margin: 5px;
  }
  /* line 164, ../scss/laptopSM.scss */
  .buttons .number_zero {
    grid-area: zero;
    margin: 5px;
  }

  /* line 170, ../scss/laptopSM.scss */
  .attribution {
    grid-area: bottom;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  /* line 5, ../scss/laptopL.scss */
  * {
    margin: 0;
    padding: 0;
    border: none;
  }

  /* line 10, ../scss/laptopL.scss */
  body {
    display: grid;
    grid-template-areas: ". . ." ". main ." ". bottom .";
    grid-template-columns: 200px 612px 200px;
    grid-template-rows: 20px 450px 30px;
  }

  /* line 19, ../scss/laptopL.scss */
  .calc_body {
    grid-gap: 10px;
    grid-area: main;
    display: grid;
    grid-template-areas: ". . ." ". head ." ". output ." ". buttons ." ". . .";
    grid-template-columns: 10px 588px 10px;
    grid-template-rows: 10px 50px 50px 280px 10px;
  }

  /* line 32, ../scss/laptopL.scss */
  .calc_header {
    grid-area: head;
    display: grid;
    grid-template-areas: "logo . . first second third" "logo . theme slider slider slider";
    grid-template-columns: 120px 200px 100px 56px 56px 56px;
    grid-template-rows: 20px 30px;
  }
  /* line 40, ../scss/laptopL.scss */
  .calc_header .title {
    grid-area: logo;
    font-size: 35px;
    padding: 10px 0 0 15px;
  }
  /* line 45, ../scss/laptopL.scss */
  .calc_header .first_theme {
    grid-area: first;
    margin: 0 5px 0 0;
    text-align: center;
  }
  /* line 50, ../scss/laptopL.scss */
  .calc_header .second_theme {
    grid-area: second;
    margin: 0 5px 0 0;
    text-align: center;
  }
  /* line 55, ../scss/laptopL.scss */
  .calc_header .third_theme {
    grid-area: third;
    text-align: center;
  }
  /* line 59, ../scss/laptopL.scss */
  .calc_header .slider {
    grid-area: slider;
  }
  /* line 62, ../scss/laptopL.scss */
  .calc_header .theme_selector {
    grid-area: theme;
    font-size: 18px;
    padding: 10px 0 0 0;
  }

  /* line 68, ../scss/laptopL.scss */
  .slider input {
    width: 90%;
    height: 40px;
  }

  /* line 72, ../scss/laptopL.scss */
  .number_output {
    grid-area: output;
  }
  /* line 74, ../scss/laptopL.scss */
  .number_output .output_bar {
    text-align: right;
    padding: 5px 10px 0 0;
    font-size: 25px;
    width: 90%;
    height: 70%;
    margin: 10px;
  }

  /* line 83, ../scss/laptopL.scss */
  .buttons {
    grid-area: buttons;
    display: grid;
    grid-template-areas: "seven eight nine del" "four five six plus" "one two three minus" "dot zero slash times" " reset reset equal equal";
    grid-template-columns: 147px 147px 147px 136px;
    grid-template-rows: 55px 55px 55px 55px 55px;
    grid-gap: 5px;
  }
  /* line 95, ../scss/laptopL.scss */
  .buttons .number_nine {
    grid-area: nine;
    margin: 5px;
  }
  /* line 99, ../scss/laptopL.scss */
  .buttons .number_eight {
    grid-area: eight;
    margin: 5px;
  }
  /* line 103, ../scss/laptopL.scss */
  .buttons .number_seven {
    grid-area: seven;
    margin: 5px;
  }
  /* line 107, ../scss/laptopL.scss */
  .buttons .number_six {
    grid-area: six;
    margin: 5px;
  }
  /* line 111, ../scss/laptopL.scss */
  .buttons .number_five {
    grid-area: five;
    margin: 5px;
  }
  /* line 115, ../scss/laptopL.scss */
  .buttons .number_four {
    grid-area: four;
    margin: 5px;
  }
  /* line 119, ../scss/laptopL.scss */
  .buttons .number_three {
    grid-area: three;
    margin: 5px;
  }
  /* line 123, ../scss/laptopL.scss */
  .buttons .number_two {
    grid-area: two;
    margin: 5px;
  }
  /* line 127, ../scss/laptopL.scss */
  .buttons .number_one {
    grid-area: one;
    margin: 5px;
  }
  /* line 131, ../scss/laptopL.scss */
  .buttons .number_dot {
    grid-area: dot;
    margin: 5px;
  }
  /* line 135, ../scss/laptopL.scss */
  .buttons .number_delete {
    grid-area: del;
    margin: 5px;
  }
  /* line 139, ../scss/laptopL.scss */
  .buttons .number_plus {
    grid-area: plus;
    margin: 5px;
  }
  /* line 143, ../scss/laptopL.scss */
  .buttons .number_times {
    grid-area: times;
    margin: 5px;
  }
  /* line 147, ../scss/laptopL.scss */
  .buttons .number_minus {
    grid-area: minus;
    margin: 5px;
  }
  /* line 151, ../scss/laptopL.scss */
  .buttons .number_reset {
    grid-area: reset;
    margin: 5px;
  }
  /* line 155, ../scss/laptopL.scss */
  .buttons .number_equal {
    grid-area: equal;
    margin: 5px;
  }
  /* line 159, ../scss/laptopL.scss */
  .buttons .number_slash {
    grid-area: slash;
    margin: 5px;
  }
  /* line 163, ../scss/laptopL.scss */
  .buttons .number_zero {
    grid-area: zero;
    margin: 5px;
  }

  /* line 169, ../scss/laptopL.scss */
  .attribution {
    grid-area: bottom;
  }
}

/*# sourceMappingURL=main.css.map */