@media screen and (max-width: 320px) {
  /* line 2, ../scss/mobileSM.scss */
  * {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  /* line 7, ../scss/mobileSM.scss */
  body {
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 320px;
    grid-template-rows: 850px;
  }

  /* line 15, ../scss/mobileSM.scss */
  img {
    width: 25px;
    height: 25px;
  }

  /* line 16, ../scss/mobileSM.scss */
  .main_block {
    grid-area: main;
    width: 100%;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  /* line 24, ../scss/mobileSM.scss */
  .header_block {
    z-index: 5;
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: grid;
    grid-template-areas: ". center center center .";
    grid-template-columns: 10px 100px 100px 100px 10px;
    grid-template-rows: 50px;
  }

  /* line 34, ../scss/mobileSM.scss */
  .mobile_headeroff {
    grid-area: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  /* line 38, ../scss/mobileSM.scss */
  .mobile_headeroff .menu_icon {
    width: 25px;
    height: 25px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 10px;
  }
  /* line 44, ../scss/mobileSM.scss */
  .mobile_headeroff .logo_mobile {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 10px 0 10px 80px;
    width: 50px;
    height: 25px;
  }

  /* line 51, ../scss/mobileSM.scss */
  .desktop_header {
    display: none;
  }

  /* line 54, ../scss/mobileSM.scss */
  .mobile_headerOn {
    display: none;
  }

  /* line 57, ../scss/mobileSM.scss */
  .item_show_block {
    position: absolute;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    top: 0;
    width: 320px;
    height: 400px;
  }

  /* line 65, ../scss/mobileSM.scss */
  .first_item_block {
    width: 100%;
    height: 100%;
  }

  /* line 69, ../scss/mobileSM.scss */
  .first_item_title {
    margin: 20px 0 0 20px;
    font-size: 24px;
  }

  /* line 73, ../scss/mobileSM.scss */
  .first_item_description {
    margin: 15px 0 10px 20px;
  }

  /* line 76, ../scss/mobileSM.scss */
  .btn_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 20px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  /* line 80, ../scss/mobileSM.scss */
  .btn_block .first_item_button {
    background-color: white;
    font-size: 16px;
    width: 150px;
    border: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* line 87, ../scss/mobileSM.scss */
  .btn_block .first_item_arrow_icon {
    margin: 0 0 0 20px;
    width: 50px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  /* line 93, ../scss/mobileSM.scss */
  .first_item_desktop {
    display: none;
  }

  /* line 96, ../scss/mobileSM.scss */
  .first_item_mobile {
    display: block;
    width: 100%;
    height: 200px;
    z-index: -5;
  }

  /* line 102, ../scss/mobileSM.scss */
  .arrows_block_first {
    width: 65px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 160px 0 0 0;
    background-color: black;
  }
  /* line 110, ../scss/mobileSM.scss */
  .arrows_block_first .first_item_selector_left {
    width: 15px;
    height: 15px;
    margin: 10px 5px 10px 10px;
  }
  /* line 115, ../scss/mobileSM.scss */
  .arrows_block_first .first_item_selector_right {
    width: 15px;
    height: 15px;
    margin: 10px 10px 10px 5px;
  }

  /* line 121, ../scss/mobileSM.scss */
  .second_item_block {
    display: none;
  }

  /* line 124, ../scss/mobileSM.scss */
  .third_item_block {
    display: none;
  }

  /* line 127, ../scss/mobileSM.scss */
  .about_block {
    margin: 370px 0 0 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    position: relative;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  /* line 134, ../scss/mobileSM.scss */
  .about_block .about_title {
    margin: 20px 0 0 20px;
    font-size: 16px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* line 139, ../scss/mobileSM.scss */
  .about_block .about_description {
    margin: 15px 0 10px 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  /* line 143, ../scss/mobileSM.scss */
  .about_block .about_dark_img {
    margin: 0 0 20px 0;
    width: 320px;
    height: 100px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* line 149, ../scss/mobileSM.scss */
  .about_block .about_light_img {
    margin: 20px 0 0 0;
    width: 320px;
    height: 100px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* line 2, ../scss/mobileL.scss */
  * {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  /* line 7, ../scss/mobileL.scss */
  body {
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 480px;
    grid-template-rows: 850px;
  }

  /* line 15, ../scss/mobileL.scss */
  img {
    width: 25px;
    height: 25px;
  }

  /* line 16, ../scss/mobileL.scss */
  .main_block {
    grid-area: main;
    width: 100%;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  /* line 24, ../scss/mobileL.scss */
  .header_block {
    z-index: 5;
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: grid;
    grid-template-areas: ". center center center .";
    grid-template-columns: 20px 146px 146px 146px 20px;
    grid-template-rows: 50px;
  }

  /* line 34, ../scss/mobileL.scss */
  .mobile_headeroff {
    grid-area: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  /* line 38, ../scss/mobileL.scss */
  .mobile_headeroff .menu_icon {
    width: 25px;
    height: 25px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 10px;
  }
  /* line 44, ../scss/mobileL.scss */
  .mobile_headeroff .logo_mobile {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 10px 0 10px 150px;
    width: 50px;
    height: 25px;
  }

  /* line 51, ../scss/mobileL.scss */
  .desktop_header {
    display: none;
  }

  /* line 54, ../scss/mobileL.scss */
  .mobile_headerOn {
    display: none;
  }

  /* line 57, ../scss/mobileL.scss */
  .item_show_block {
    position: absolute;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    top: 0;
    width: 480px;
    height: 400px;
  }

  /* line 65, ../scss/mobileL.scss */
  .first_item_block {
    width: 100%;
    height: 100%;
  }

  /* line 69, ../scss/mobileL.scss */
  .first_item_title {
    margin: 20px 0 0 20px;
    font-size: 24px;
  }

  /* line 73, ../scss/mobileL.scss */
  .first_item_description {
    margin: 15px 0 10px 20px;
    font-size: 14px;
  }

  /* line 77, ../scss/mobileL.scss */
  .btn_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 20px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  /* line 81, ../scss/mobileL.scss */
  .btn_block .first_item_button {
    background-color: white;
    font-size: 16px;
    width: 150px;
    border: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* line 88, ../scss/mobileL.scss */
  .btn_block .first_item_arrow_icon {
    margin: 0 0 0 20px;
    width: 50px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  /* line 94, ../scss/mobileL.scss */
  .first_item_desktop {
    display: none;
  }

  /* line 97, ../scss/mobileL.scss */
  .first_item_mobile {
    display: block;
    width: 100%;
    height: 200px;
    z-index: -5;
  }

  /* line 103, ../scss/mobileL.scss */
  .arrows_block_first {
    width: 65px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 160px 0 0 0;
    background-color: black;
  }
  /* line 111, ../scss/mobileL.scss */
  .arrows_block_first .first_item_selector_left {
    width: 15px;
    height: 15px;
    margin: 10px 5px 10px 10px;
  }
  /* line 116, ../scss/mobileL.scss */
  .arrows_block_first .first_item_selector_right {
    width: 15px;
    height: 15px;
    margin: 10px 10px 10px 5px;
  }

  /* line 122, ../scss/mobileL.scss */
  .second_item_block {
    display: none;
  }

  /* line 125, ../scss/mobileL.scss */
  .third_item_block {
    display: none;
  }

  /* line 128, ../scss/mobileL.scss */
  .about_block {
    margin: 370px 0 0 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    position: relative;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  /* line 135, ../scss/mobileL.scss */
  .about_block .about_title {
    margin: 20px 0 0 20px;
    font-size: 18px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* line 140, ../scss/mobileL.scss */
  .about_block .about_description {
    margin: 15px 0 10px 20px;
    font-size: 14px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  /* line 145, ../scss/mobileL.scss */
  .about_block .about_dark_img {
    margin: 0 0 20px 0;
    width: 480px;
    height: 100px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* line 151, ../scss/mobileL.scss */
  .about_block .about_light_img {
    margin: 20px 0 0 0;
    width: 480px;
    height: 100px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

/*# sourceMappingURL=main.css.map */