@media screen and (min-width: 801px) and (max-width: 1024px) {
    *{
      margin: 0;
      padding: 0;
      font-family: Poppins; 
      font-size: 12px;
    }
    .root {
      width: 100%;
      height: 100%;
    }
      .MainBlock {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
          '. head .'
          '. main .'
          '. bottom .';
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas: 2fr 6fr 2fr;
      }
        .head {
          grid-area: head; 
          display: flex;
          flex-flow: column wrap;
          margin: 3%;
          justify-items: center;
          text-align: center;
        }
          .title {
            font-size: 2em; 
            font-weight: 400;
          }
          .sub {
            margin: 1% 0 0 0;
            font-size: 2.2em;
            font-weight: 600;
          }
          .paragraph {
            margin: 2% 5% 0 5%;
            text-align: center;
            font-size: 1.4em;
            font-weight: 200;
          }
        .cardsBlock {
          grid-area: main;
          display: grid;
          grid-template-areas:
            '. . teambuilder . .'
            '. supervisor . calculator .'
            '. . karma . .';
          grid-template-columns: 1fr 2fr 2fr 2fr 1fr ;
          grid-template-rows: 1fr 1fr 1fr;
        }
          .SupervisorBlock {
              grid-area: supervisor;
              border-radius: 1vh;
              border-top: 5px;
              border-style: solid none none none;
              border-color: hsl(180, 62%, 55%);
          }
            .STitle {
              font-size: 1.6em;
              margin: 5% 0 0 10%;
            }
            .SParagraph {
              font-size: 14px;
              margin: 5% 0 0 10%; 
            }
            .SImg {
              width: 25%;
              height: 30%;
              margin: 0 0 0 68%;
            }
          .TeambuilderBlock {
              grid-area: teambuilder;
              border-radius: 1vh;
              border-top: 5px;
              border-style: solid none none none;
              border-color: hsl(0, 78%, 62%);
          }
            .TbTitle {
              font-size: 1.6em;
              margin: 5% 0 0 10%;
            }
            .TbParagraph {
              font-size: 1.4em;
              margin: 5% 0 0 10%; 
            }
            .TbImg {
              width: 25%;
              height: 30%;
              margin: 0 0 0 68%;
            }
          .KarmaBlock {
              grid-area: karma;
              border-radius: 1vh; 
              border-top: 5px;
              border-style: solid none none none;
              border-color: hsl(34, 97%, 64%);
          }
            .KTitle {
              font-size: 1.6em;
              margin: 5% 0 0 10%;
            }
            .KParagraph {
              font-size: 1.4em;
              margin: 5% 0 0 10%; 
            }
            .KImg {
              width: 25%;
              height: 30%;
              margin: 0 0 0 68%;
            }
          .Calculator {
              grid-area: calculator;
              border-radius: 1vh;
              border-top: 5px;
              border-style: solid none none none;
              border-color: hsl(212, 86%, 64%);
          }
            .CTitle {
              font-size: 1.6em;
              margin: 5% 0 0 10%;
            }
            .CParagraph {
              font-size: 1.4em;
              margin: 5% 0 0 10%; 
            }
            .CImg {
              width: 25%;
              height: 30%;
              margin: 0 0 0 68%;
            }
        .Attribution {
            grid-area: bottom;
            margin: 2% 0 0 33%;
        }
          
}
