@media screen and (max-width: 320px) {
    *{
      margin: 0;
      padding: 0;
      font-family: Poppins; 
      font-size: 12px;
    }
    .root {
      width: 100%;
      height: 100%;
    }
      .MainBlock {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
          '. head .'
          '. cards .'
          '. bottom .';
        grid-template-columns: 0.1fr 3fr 0.1fr;
        grid-template-rows: 1fr 4fr 0.2fr;
      }
        .head {
          grid-area: head;
          display: flex;
          flex-flow: column wrap;
          margin: 5%;
          justify-items: center;
          text-align: center;
        }
          .title {
            margin: 2% 0 0 0;
            font-size: 1.8em; 
            font-weight: 400;
          }
          .sub {
            margin: 2% 0 0 0;
            font-size: 1.8em;
            font-weight: 600;
          }
          .paragraph {
            margin: 2% 10% 0 10%;
            text-align: left;
            font-size: 1em;
            font-weight: 200;
          }
        .cardsBlock {
          grid-area: cards;
        }
          .SupervisorBlock {
            border-radius: 1vh;
            border-style: solid none none none;
            border-color: hsl(180, 62%, 55%);
            margin: 2%;
            display: flex;
            flex-flow: column wrap;
            justify-items: center;
          }
            .STitle {
              font-size: 1.6em;
              margin: 5% 0 0 10%;
            }
            .SParagraph {
              font-size: 1.4em;
              margin: 5% 10% 0 10%; 
            }
            .SImg {
              width: 15%;
              height: 15%;
              margin: 0 0 0 65%;
            }
          .TeambuilderBlock {
            border-radius: 5px;
            border-style: solid none none none;
            border-color: hsl(0, 78%, 62%);
            margin: 2%;
            display: flex;
            flex-flow: column wrap;
            justify-items: center;
          }
            .TbTitle {
              font-size: 1.6em;
              margin: 5% 0 0 10%;
            }
            .TbParagraph {
              font-size: 1.4em;
              margin: 5% 10% 0 10%; 
            }
            .TbImg {
              width: 15%;
              height: 15%;
              margin: 0 0 0 65%;
            }
          .KarmaBlock {
            border-radius: 1vh;
            border-style: solid none none none;
            border-color: hsl(34, 97%, 64%);
            margin: 2%;
            display: flex;
            flex-flow: column wrap;
            justify-items: center;
          }
            .KTitle {
              font-size: 1.6em;
              margin: 5% 0 0 10%;
            }
            .KParagraph {
              font-size: 1.4em;
              margin: 5% 10% 0 10%; 
            }
            .KImg {
              width: 15%;
              height: 15%;
              margin: 0 0 0 65%;
            }
          .Calculator {
            border-radius: 1vh;
            border-style: solid none none none;
            border-color: hsl(212, 86%, 64%);
            margin: 3%;
            display: flex;
            flex-flow: column wrap;
            justify-items: center;
          }
            .CTitle {
              font-size: 1.6em;
              margin: 5% 0 0 10%;
            }
            .CParagraph {
              font-size: 1.4em;
              margin: 5% 10% 0 10%; 
            }
            .CImg {
              width: 15%;
              height: 15%;
              margin: 0 0 0 65%;
            }
          .Attribution {
            grid-area: bottom;
            font-size: 1.4em;
          }
}
