@media screen and (min-width: 1025px) {
    * {
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
    body {
        display: grid;
        grid-template-areas: 
            "main";
        grid-template-columns: 1440px;
        grid-template-rows: 550px;
    }
    img {width: 25px; height: 25px;}
    .main_block {
        grid-area: main;
        width: 100%;
        height: 545px;
        display: flex;
        flex-flow: row wrap;
        z-index: 0;
    }
    .header_block {
        width: 100%;
        height: 100px;
        order: 1;
        position: relative;
        z-index: 3;
    }
        .mobile_headeroff {
            display: none;
        }
        .desktop_header {
           display: flex;
           flex-flow: row nowrap;
           justify-items: space-around;
           width: 400px;
           height: 50px;
        }
           .desktop_logo {
                width: 35px;
                height: 15px;
                margin: 18px 10px 0 25px;
            }
            .home_option {
                margin: 18px;
                font-size: 12px;
            }
            .shop_option {
                margin: 18px;
                font-size: 12px;
            }
            .about_option {
                margin: 18px;
                font-size: 12px;
            }
            .contact_option {
                margin: 18px;
                font-size: 12px;
            }
        .mobile_headerOn {
            display: none;
        }
    .item_show_block {
        order: 1;
        position: absolute;
        top: 0;
    }   
        .first_item {
            display: grid;
            grid-template-areas: 
                'img title'
                'img description'
                'img btn'
                'img selector';
            grid-template-columns: 924px 516px;
            grid-template-rows: 150px 100px 50px 100px;
        }
            .first_item_desktop {
                grid-area: img;
                width: 100%;
                height: 100%;
            }
            .first_item_mobile {
                display: none;
            }
            .first_item_title {
                grid-area: title;
                font-size: 24px; 
                margin: 50px 15px 15px 15px ;
            }
            .first_item_description {
                grid-area: description; 
                margin: 15px;
            }
            .btn_block {
                grid-area: btn;
                margin: 15px;
                display: flex;
                margin: 20px 0 10px 0;
                flex-flow: row nowrap;
                .first_item_button {
                  background-color: white;
                  font-size: 16px; 
                  margin-left: 15px;
                  height: 30px;
                  border: none;
                  order: 1;
                }
                .first_item_arrow_icon {
                  margin: 0 0 0 5px;
                  width: 35px;
                  order: 2;
                }
            }
            .arrows_block_first {
                grid-area: selector;
                background-color: black;
                width: 85px;
                height: 55px;
                margin: 45px 0 0 0;
            }
                .first_item_selector_left {
                    margin: 20px 10px 15px 15px;
                    width: 15px;
                    height: 15px;
                }
                .first_item_selector_right {
                    margin: 20px 15px 15px 10px;
                    width: 15px;
                    height: 15px;
                }
        .second_item_block {
            display: none;
            grid-template-areas: 
                'img title'
                'img description'
                'img btn'
                'img selector';
            grid-template-columns: 724px 300px;
            grid-template-rows: 100px 100px 50px 100px;
        }
            .second_item_desktop_img {
                grid-area: img;
                width: 100%;
                height: 100%;
            }
            .second_item_mobile_img {
                display: none;
            }
            .second_item_title {
                grid-area: title;
                font-size: 24px; 
                margin: 50px 15px 15px 15px ;
            }
            .second_item_description {
                grid-area: description; 
                margin: 15px;
            }
            .btn_block_second {
                grid-area: btn;
                margin: 15px;
                display: flex;
                margin: 20px 0 10px 0;
                flex-flow: row nowrap;
                .second_item_button {
                  background-color: white;
                  font-size: 16px; 
                  margin-left: 15px;
                  height: 30px;
                  border: none;
                  order: 1;
                }
                .second_item_arrow_icon {
                  margin: 0 0 0 5px;
                  width: 35px;
                  order: 2;
                }
            }
            .arrows_block_second {
                grid-area: selector;
                background-color: black;
                width: 85px;
                height: 55px;
                margin: 45px 0 0 0;
            }
                .second_item_selector_left {
                    margin: 20px 10px 15px 15px;
                    width: 15px;
                    height: 15px;
                }
                .second_item_selector_right {
                    margin: 20px 15px 15px 10px;
                    width: 15px;
                    height: 15px;
                }
        .third_item_block {
            display: none;
            grid-template-areas: 
                'img title'
                'img description'
                'img btn'
                'img selector';
            grid-template-columns: 724px 300px;
            grid-template-rows: 100px 100px 50px 100px;
        }
            .third_item_desktop_img {
                grid-area: img;
                width: 100%;
                height: 100%;
            }
            .third_item_mobile_img {
                display: none;
            }
            .third_item_title {
                grid-area: title;
                font-size: 24px; 
                margin: 50px 15px 15px 15px ;
            }
            .third_item_description {
                grid-area: description; 
                margin: 15px;
            }
            .btn_block_third {
                grid-area: btn;
                margin: 15px;
                display: flex;
                margin: 20px 0 10px 0;
                flex-flow: row nowrap;
                .third_item_button {
                  background-color: white;
                  font-size: 16px; 
                  margin-left: 15px;
                  height: 30px;
                  border: none;
                  order: 1;
                }
                .third_item_arrow_icon {
                  margin: 0 0 0 5px;
                  width: 35px;
                  order: 2;
                }
            }
            .arrows_block_third {
                grid-area: selector;
                background-color: black;
                width: 85px;
                height: 55px;
                margin: 45px 0 0 0;
            }
                .third_item_selection_left {
                    margin: 20px 15px 15px 10px;
                    width: 15px;
                    height: 15px;
                }
                .third_item_selection_right {
                    margin: 20px 15px 15px 10px; 
                    width: 15px;
                    height: 15px;
                }
        
    .about_block {
        width: 100%;
        margin-top: 252px;
        position: relative;
        bottom: 0; 
        height: 100px;
        order: 2;
        display: grid;
        grid-template-areas:
            'dark title light'
            'dark description light';
        grid-template-columns: 520px 400px 520px;
        grid-template-rows: 50px 100px;
    }
       .about_dark_img {
           grid-area: dark; 
           width: 100%;
           height: 100%;
        }
        .about_light_img {
           grid-area: light; 
           width: 100%;
           height: 100%;
        }
        .about_title {
           grid-area: title; 
           font-size: 14px;
           margin: 30px 20px 20px 20px;
        }
        .about_description {
           grid-area: description; 
           margin: 0 20px 20px 20px;
        }
}
