@mixin btn_style {
    margin: 5px; 
}
@media screen and (min-width: 1025px) {
    * {
        margin: 0;
        padding: 0;
        border: none; 
    }
    body {
        display: grid;
        grid-template-areas: 
            ". . ."
            ". main ."
            ". bottom .";
        grid-template-columns: 220px 1000px 220px;
        grid-template-rows: 20px 450px 30px;
    }
    .calc_body {
        grid-gap: 10px;
        grid-area: main;
        display: grid;
        grid-template-areas: 
            ". . ."
            ". head ."
            ". output ."
            ". buttons ."
            ". . .";
        grid-template-columns: 10px 980px 10px;
        grid-template-rows: 10px 50px 50px 280px 10px;
    }
        .calc_header {
            grid-area: head; 
            display: grid;
            grid-template-areas:
                "logo . . first second third"
                "logo . theme slider slider slider";
            grid-template-columns: 120px 400px 100px 123px 123px 123px;
            grid-template-rows: 20px 30px;
            .title {
                grid-area: logo;
                font-size: 35px;
                padding: 10px 0 0 15px;
            }
            .first_theme {
                grid-area: first;
                margin: 0 8px 0 0;
                text-align: center;
            }
            .second_theme {
                grid-area: second;
                margin: 0 8px 0 0;
                text-align: center;
            }
            .third_theme {
                grid-area: third;
                text-align: center;
            }
            .slider {
                grid-area: slider;
            }
            .theme_selector {
                grid-area: theme;
                font-size: 18px;
                padding: 10px 0 0 0;
            }
        } 
            .slider input{
                width: 70%;
                height: 40px;
                margin-left: 53px;
            }
        .number_output {
            grid-area: output;
            .output_bar {
                text-align: right;
                padding: 5px 10px 0 0;
                font-size: 25px;
                width: 90%;
                height: 70%;
                margin: 10px;
            }
        }
        .buttons {
            grid-area: buttons;
            display: grid;
            grid-template-areas: 
                "seven eight nine del"
                "four five six plus"
                "one two three minus"
                "dot zero slash times"
                " reset reset equal equal";
            grid-template-columns: 247px 247px 247px 236px;
            grid-template-rows: 55px 55px 55px 55px 55px;
            grid-gap: 5px;
            .number_nine {
                grid-area: nine;
                @include btn_style();
            }
            .number_eight {
                grid-area: eight;
                @include btn_style();
            }
            .number_seven {
                grid-area: seven;
                @include btn_style();
            }
            .number_six {
                grid-area: six;
                @include btn_style();
            }
            .number_five {
                grid-area: five;
                @include btn_style();
            }
            .number_four {
                grid-area: four;
                @include btn_style();
            }
            .number_three {
                grid-area: three;
                @include btn_style();
            }
            .number_two {
                grid-area: two;
                @include btn_style();
            }
            .number_one {
                grid-area: one;
                @include btn_style();
            }
            .number_dot {
                grid-area: dot;
                @include btn_style();
            }
            .number_delete {
                grid-area: del;
                @include btn_style();
            }
            .number_plus {
                grid-area: plus;
                @include btn_style();
            }
            .number_times {
                grid-area: times;
                @include btn_style();
            }
            .number_minus {
                grid-area: minus;
                @include btn_style();
            }
            .number_reset {
                grid-area: reset;
                @include btn_style();
            }
            .number_equal {
                grid-area: equal;
                @include btn_style();
            }
            .number_slash {
                grid-area: slash;
                @include btn_style();
            }
            .number_zero {
                grid-area: zero;
                @include btn_style();

            }
        }
    .attribution {
        grid-area: bottom;
    }
}
