@media screen and (max-width: 320px) {
    *{
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    body {
        display: grid;
        grid-template-areas: 
            "main";
        grid-template-columns: 320px;
        grid-template-rows: 850px;
        
    }
    img {width: 25px; height: 25px;}
    .main_block {
        grid-area: main;
        width: 100%;
        height: 800px;
        display: flex;
        flex-flow: column nowrap;
       
    }
    
    .header_block { 
        z-index: 5;
        position: relative;
        order: 1;
        display: grid; 
        grid-template-areas: 
            ". center center center .";
        grid-template-columns: 10px 100px 100px 100px 10px;
        grid-template-rows: 50px;
    }
        .mobile_headeroff {
            grid-area: center;
            display: none;
            flex-flow: row nowrap;
            .menu_icon {
                width: 25px;
                height: 25px;
                order: 1;
                margin: 10px;
            }
            .logo_mobile {
                order: 2;
                margin: 10px 0 10px 80px;
                width: 50px;
                height: 25px;
            }
        }
        .desktop_header {
            display: none;
        }
        .mobile_headerOn { 
            height: 100px;
            grid-area: center;
            display: flex;
            flex-flow: row nowrap;
            background-color: white;
        }
            .close_icon_mobile {
                order: 1;
                font-size: 16px;
                margin: 50px 10px 10px 10px ;
            }
            .home_option_mobile {
                order: 2;
                font-size: 16px;
                margin: 50px 10px 10px 10px ;
            }
            .shop_option_mobile {
                order: 3;
                font-size: 16px;
                margin: 50px 10px 10px 10px ;
            }
            .about_option_mobile {
                order: 4;
                font-size: 16px;
                margin: 50px 10px 10px 10px ;
            }
            .contact_option_mobile {
                order: 5; 
                font-size: 16px;
                margin: 50px 10px 10px 10px ;
            }
        .item_show_block {
           position: absolute;
           order: 2;
           top: 0;
           
           width: 320px;
           height: 400px;
        }
            .first_item {
                display: block;
                width: 100%;
                height: 100%;
            }   
                .first_item_title {
                    margin: 20px 0 0 20px;
                    font-size: 24px;
                }
                .first_item_description { 
                    margin: 15px 0 10px 20px;
                } 
                .btn_block_first {
                    display: flex;
                    margin: 20px 0 20px 0;
                    flex-flow: row nowrap;
                    .first_item_button {
                        background-color: white;
                        font-size: 16px;
                        width: 150px;
                        border: none;
                        order: 1;
                    }
                    .first_item_arrow_icon {
                        margin: 0 0 0 20px;
                        width: 50px;
                        order: 2;
                    }
                }
                .first_item_desktop {
                    display: none;
                }
                .first_item_mobile {
                    display: block;
                    width: 100%;
                    height: 200px;
                    z-index: -5;
                }
                .arrows_block_first {
                    width: 65px;
                    height: 40px;
                    position: absolute; 
                    right: 0;
                    top: 0;
                    margin: 160px 0 0 0;
                    background-color: black;
                    .first_item_selector_left {
                        width: 15px;
                        height: 15px;
                        margin: 10px 5px 10px 10px;
                    }
                    .first_item_selector_right {
                        width: 15px;
                        height: 15px;
                        margin: 10px 10px 10px 5px;
                    }
                }
            .second_item_block {
                display: none;
                width: 100%;
                height: 100%;
            }   
                .second_item_title {
                    margin: 20px 0 0 20px;
                    font-size: 24px;
                }
                .second_item_description { 
                    margin: 15px 0 10px 20px;
                } 
                .btn_block_second {
                    display: flex;
                    margin: 20px 0 20px 0;
                    flex-flow: row nowrap;
                    .second_item_button {
                        background-color: white;
                        font-size: 16px;
                        width: 150px;
                        border: none;
                        order: 1;
                    }
                    .second_item_arrow_icon {
                        margin: 0 0 0 20px;
                        width: 50px;
                        order: 2;
                    }
                }
                .second_item_desktop_img {
                    display: none;
                }
                .second_item_mobile_img {
                    display: block;
                    width: 100%;
                    height: 200px;
                    z-index: -5;
                }
                .arrows_block_second {
                    width: 65px;
                    height: 40px;
                    position: absolute; 
                    right: 0;
                    top: 0;
                    margin: 160px 0 0 0;
                    background-color: black;
                    .second_item_selector_left {
                        width: 15px;
                        height: 15px;
                        margin: 10px 5px 10px 10px;
                    }
                    .second_item_selector_right {
                        width: 15px;
                        height: 15px;
                        margin: 10px 10px 10px 5px;
                    }
                }
            .third_item_block {
                display: none;
                width: 100%;
                height: 100%;
            }   
                .third_item_title {
                    margin: 20px 0 0 20px;
                    font-size: 24px;
                }
                .third_item_description { 
                    margin: 15px 0 10px 20px;
                } 
                .btn_block_third {
                    display: flex;
                    margin: 20px 0 20px 0;
                    flex-flow: row nowrap;
                    .third_item_button {
                        background-color: white;
                        font-size: 16px;
                        width: 150px;
                        border: none;
                        order: 1;
                    }
                    .third_item_arrow_icon {
                        margin: 0 0 0 20px;
                        width: 50px;
                        order: 2;
                    }
                }
                .third_item_desktop_img {
                    display: none;
                }
                .third_item_mobile_img {
                    display: block;
                    width: 100%;
                    height: 200px;
                    z-index: -5;
                }
                .arrows_block_third {
                    width: 65px;
                    height: 40px;
                    position: absolute; 
                    right: 0;
                    top: 0;
                    margin: 160px 0 0 0;
                    background-color: black;
                    .third_item_selection_left {
                        width: 15px;
                        height: 15px;
                        margin: 10px 5px 10px 10px;
                    }
                    .third_item_selection_right {
                        width: 15px;
                        height: 15px;
                        margin: 10px 10px 10px 5px;
                    }
                } 
        .about_block {
            margin: 370px 0 0 0;
            order: 4;
            position: relative;
            bottom: 0;
            display: flex;
            flex-flow: column wrap;
            .about_title {
                margin: 20px 0 0 20px;
                font-size: 16px;
                order: 2;
            }
            .about_description {
                margin: 15px 0 10px 20px;
                order: 3;
            }
            .about_dark_img {
                margin: 0 0 20px 0;
                width: 320px;
                height: 100px;
                order: 1;
            }
            .about_light_img {
                margin: 20px 0 0 0;
                width: 320px;
                height: 100px;
                order: 4;
            }
        }
}
